<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>生成/解析b23.tv</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/simpledotcss/simple.min.css"
    />
    <style>
      input {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>生成/解析b23.tv</h1>
    </header>

    <main>
      <form>
        <p>
          <input type="url" id="url" placeholder="输入待处理链接" />
        </p>
        <p>
          <button id="get" type="button">
            从Bilibili长链接获取b23.tv短链接
          </button>
          <button id="parse" type="button">
            从b23.tv短链接获取清洗过的长链接
          </button>
        </p>
        <p>
          <input type="text" id="result" placeholder="处理后的链接" />
        </p>
        <p>
          <button id="copy" type="button">复制处理后的链接</button>
        </p>
      </form>
      <p id="log" class="notice">这里显示服务器端返回的原始内容</p>
    </main>

    <script>
      const getButton = document.getElementById("get");
      const parseButton = document.getElementById("parse");
      const urlInput = document.getElementById("url");
      const resultInput = document.getElementById("result");
      const copyButton = document.getElementById("copy");
      const logP = document.getElementById("log");

      getButton.addEventListener("click", () => {
        resultInput.value = "";
        const xhr = new XMLHttpRequest();
        const encodedUrl = encodeURIComponent(urlInput.value);
        const requestUrl = "/get?url=" + encodedUrl;

        xhr.open("GET", requestUrl);

        xhr.onload = () => {
          logP.innerText = xhr.responseText;
          resultInput.value = JSON.parse(xhr.responseText).short;
        };

        xhr.send();
      });

      parseButton.addEventListener("click", () => {
        resultInput.value = "";
        const xhr = new XMLHttpRequest();
        const encodedUrl = encodeURIComponent(urlInput.value);
        const requestUrl = "/parse?url=" + encodedUrl;

        xhr.open("GET", requestUrl);

        xhr.onload = () => {
          logP.innerText = xhr.responseText;
          resultInput.value = JSON.parse(xhr.responseText).cleaned;
        };

        xhr.send();
      });

      copyButton.addEventListener("click", () => {
        navigator.clipboard.writeText(resultInput.value);
      });
    </script>
  </body>
</html>
